<table class="table table-hover">
    <tr>
        <th>ID</th><td>{{ nodeId }}</td>
    </tr><tr>
        <th>Name</th><td>{{ nodes[nodeId].name }}</td>
    </tr><tr>
        <th>Location</th><td>{{ nodes[nodeId].loc }}</td>
    </tr><tr>
        <th>State</th>
        <td>
          <on-off-toggle value="nodes[nodeId].classes[37][0].value" ng-click="toggleNode(nodeId)">
          </on-off-toggle>
      </td>
    </tr>
</table>
<table class="table table-hover">
  <tr><th>Day</th><th>Time</th><th>Off/On</th></tr>
  <tr ng-repeat="event in nodes[nodeId].recurringEvents">
    <td>{{ event | eventTime:"dddd" }}</td>
    <td>{{ event | eventTime:"LT" }}</td>
    <td>
      <on-off-toggle value="event.value"></on-off-toggle>
      <span><small><a ng-click="removeEvent(event.eventId)">Remove</a></small></span>
    </td>
  </tr>
  <tr>
    <td>
      <select class="form-control" ng-model="weekday">
        <option value="0">{{ 0|weekday }}</option>
        <option value="1">{{ 1|weekday }}</option>
        <option value="2">{{ 2|weekday }}</option>
        <option value="3">{{ 3|weekday }}</option>
        <option value="4">{{ 4|weekday }}</option>
        <option value="5">{{ 5|weekday }}</option>
        <option value="6">{{ 6|weekday }}</option>
      </select>
    </td>
    <td>
      <form class="form-inline">
        <div class="form-group">
          <input class="form-control" ng-model="hour" />
          <input class="form-control" ng-model="minute" /></td>
        </div>
      </form>
    <td>
      <on-off-toggle value="value" ng-click="value = !value"></on-off-toggle>
      <button class="btn btn-primary" ng-click="addEvent()">
        Add
      </button>
    </td>
  </tr>
</table>
